body{

background-color: #0D1117;


}

h1{

font-family: monospace;
color:white;
text-align: center;
font-size: 140px;
top: 40%;


}

h2{

font-family: monospace;
color:white;
text-align: center;
font-size: 100px;
top: 40%;


}

h3{

  font-family: monospace;
  color:white;
  text-align: center;
  font-size: 50px;
  top: 40%;

}

h4{

  font-family: monospace;
  color:white;
  text-align: center;
  font-size: 30px;
  top: 40%;

}

p{

  text-align: center;
  font-size: 24px;
  color: white;
}

.LeftDivide{

text-align: left;

}

.RightDivide{
text-align: right;

}
.typewriter {
  width: 33ch;
  animation: typing 2s steps(22),
    blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 1.5em;
  margin: 1em auto;
  font-family: monospace;
  color: white;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}
.Contact{

  font-family: monospace;
  color:white;
  text-align: center;
  font-size: 50px;
  padding: 50px;

}

.navbar {
  width: 100%;
  background-color: #0D1117;
  overflow: auto;
}

/* Navigation links */
.navbar a {
  float: left;
  padding: 11px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 30%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: #0D1117;
}

/* Style the current/active link */
.navbar a.active {
  background-color: #0D1117;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}

.Resume{

  font-family: monospace;
  color:white;
  text-align: center;
  font-size: 23px;

}


.Projects{
color: white;
text-align: center;

}
